@media (min-width: 700px) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    position: static;
    background: none;
  }

  .navigation a {
    color: #ffffff;
    font-weight: bold;
  }

  .navigation a:hover {
    background: none;
    color: var(--highlight);
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
